// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example 'nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';
//@import 'nativescript-theme-core/css/core.light';
//@import 'nativescript-theme-core/css/core.light.css';

// Customize any of the theme’s variables here, for instance $btn-color: red;
$list-icon-size: 36;
$list-icon-font-family: FontAwesome, fontawesome-webfont;

$list-text-size: 30;
$list-text-font-family: Caviar Dreams, CaviarDreams;

.fa-list-item {
    font-size: $list-icon-size;
    font-family: $list-icon-font-family;
}

.list-item {
    font-size: $list-text-size;
    font-family: $list-text-font-family;
}

//Animations
.spin {
    animation-name: spin;
    animation-duration: 1s;
    animation-delay: 1s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

//Material
.Material {
    font-family: MaterialIcons-Regular, Material Icons;
}

.cardStyle {
    background-color: #3489db;
    color: #fff;
}

button {
    font-family: 'Roboto', Roboto;
}

.align-center {
    vertical-align: center;
    horizontal-align: center;
}

.title {
    font-size: 30;
    margin: 4;
}

.subtitle {
    font-size: 24;
}

.info {
    font-size: 20;
    margin:4;
}

.size16 {
    font-size: 16;
    margin: 2;
}

.clear-btn {
    background-color: white;
    padding: 5px;
}

.blue {
    color: #6A78C5;
}

.gray {
    color: #666;
}

.white {
    color: #fff;
}

.avatar-circle {
    font-size:35;
    height: 50;
    width: 50;
    color: #fff;
    background-color: #FF4081;
    border-radius: 25;
    margin-left: 16;
    margin-top: 5; 
    horizontal-align: center;
    vertical-align: center;
    text-align: center;
}

.blackCard {
    background-color: #333;
    color: white;
}

.blueCard {
    background-color: #3489db;
    color: white;
}

.jokerCard {
    background-color: yellow;
}

.whiteCard {
    background-color:#fff;
}


// Import the theme’s main ruleset.
@import '~nativescript-theme-core/scss/index';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

