<ActionBar title="My App" class="action-bar">
</ActionBar>
<StackLayout class="page">
    <Label class="fa-list-item spin" [text]="'fa-bluetooth' | fonticon"></Label>
    <Button text="ShowMe" (tap)="showNotification()">
      </Button>
    <Button class="spin" text="Store It" (tap)="storeValues()">
      </Button>
      <Button text="ShowMe" (tap)="storeValuesInAppSettings()">
      </Button>
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['/item', item.id]" [text]="item.name" class="list-group-item list-item">
                </Label>
        </ng-template>
    </ListView>
</StackLayout>