<ActionBar title="My App" class="action-bar">
</ActionBar>
<StackLayout class="page">
  <Label class="fa-list-item spin" [text]="'fa-bluetooth' | fonticon"></Label>
  <Button text="ShowMe" (tap)="showNotification()"></Button>
  <Button class="spin" text="Store It" (tap)="storeValues()"></Button>
  <Button text="ShowMe" (tap)="storeValuesInAppSettings()"></Button>
  <Button text="Read SMS" (tap)="readSMS()"></Button>
  <Button text="Snackbar" (tap)="showSnackBar()"></Button>
  <ScrollView>
    <StackLayout>
        <CardView class="cardStyle" margin="10" elevation="40" radius="1" >
          <GridLayout rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
            <Image src="res://profile" stretch="aspectFit" verticalAlignment="stretch" col="1" row="1" rowSpan="2"></Image>
            <Label class="createdBy text-left" horizontalAlignment="left" [text]="cards.CreatedBy" row="1" col="2" textWrap="true"></Label>
            <Label class="createdOn text-left" horizontalAlignment="left" [text]="cards.UpdatedDate" row="2" col="2"></Label>
            <Image [src]="'https://img.youtube.com/vi/'+cards.MediaURL+'/mqdefault.jpg'" stretch="aspectFit" colSpan="3" col="1" row="3"></Image>
            <Label horizontalAlignment="left" [text]="cards.Title" colSpan="3" row="4" textWrap="true" col="1"></Label>
            <Label  horizontalAlignment="left" [text]="cards.Summary" textWrap="true" col="1" row="5" colSpan="3"></Label>
          </GridLayout>
        </CardView>
        <grid-layout rows="*" columns="*, *">
            <Card:CardView class="blueCard" margin="10" col="0" elevation="20">
                <grid-layout rows="120, auto" columns="*, *, *">
                    <image src="~/images/mountain.jpg" stretch="aspectFill" colSpan="3" row="0" />
                    <button [text]="'fa-bluetooth' | fonticon" class="Material info clear-btn gray" row="1" col="0" />
                    <button [text]="'fa-bluetooth' | fonticon" class="Material info clear-btn gray" row="1" col="1" />
                    <button [text]="'fa-bluetooth' | fonticon" class="Material info clear-btn gray" row="1" col="2" />
                </grid-layout>
            </Card:CardView>
            <Card:CardView margin="10" col="1" elevation="20">
                <grid-layout rows="120, auto" columns="*, *, *">
                    <image src="~/images/plane.jpg" stretch="aspectFill" colSpan="3" row="0" />
                    <button [text]="'fa-bluetooth' | fonticon" class="Material info clear-btn gray" row="1" col="0" />
                    <button [text]="'fa-bluetooth' | fonticon" class="Material info clear-btn gray" row="1" col="1" />
                    <button text="C" class="Material info clear-btn gray" row="1" col="2" />
                </grid-layout>
            </Card:CardView>
        </grid-layout>
        <Card:CardView margin="5" id="facebookCard" radius="30" elevation="15" class="whiteCard">
            <grid-layout rows="auto, auto, 250, auto" columns="60, auto, *">
                <label text="B" class="avatar-circle" row="0" col="0" />
                <label text="Brad Martin" textWrap="true" margin="10" class="size16 align-center" row="0" col="1" />
                <label text="I like long walks on the beach and candlelit dinners..." textWrap="true" margin="10" class="size16" row="1" colSpan="3" />
                <image src="~/images/vegas.jpg" stretch="aspectFill" row="2" colSpan="3" />
                <grid-layout row="3" colSpan="3" rows="auto" columns="auto, auto, auto">
                    <button text="&#xE80D;" class="Material info clear-btn gray" col="0" />
                    <button text="&#xE0B9;" class="Material info clear-btn gray" col="1" />
                    <button text="&#xE87D;" class="Material info clear-btn gray" col="2" />
                </grid-layout>
            </grid-layout>
        </Card:CardView>

        <ListView [items]="items" class="list-group">
          <ng-template let-item="item">
            <Label [nsRouterLink]="['/item', item.id]" [text]="item.name" class="list-group-item list-item">
                      </Label>
          </ng-template>
        </ListView>
    </StackLayout>
  </ScrollView>
  
</StackLayout>